<!-- Completed events -->
<!-- Upcoming events -->
	<h2 class="events-subheading pt-3 pb-2 ">Concluded</h2>
	<div class="d-flex flex-wrap">
		<!--IPL-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Ipl.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 9 - 10 Oct<br>Event concluded<br>Prize Pool: 20k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-ipl">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_ipl') -%>
		</div>
		
				<!--SHUTTERBUG-->
        <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/ShutterBug.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates : 8 - 14 Oct<br>Event concluded<br>Prize Pool: 5k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-shutter">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_shutterbug') -%>
		</div>
		
<!--MARATHON-->
		<div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Marathon.jpg" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 16 - 17 Oct<br>Registration ends : 15 Oct<br>Prize Pool: 10k
                         </p>
                    	<a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-marathon">
                 		 	READ MORE
                    	</a>
                    </div>
                </div>
            </div>
        </div>
		<div>
			<%- include('event_reg_modals/events_marathon') -%>
		</div>
		
			<!--FITNESS CHALLENGE-->
        <div class="col pb-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/Fitness.png" alt="Avatar" id="card-img">
                    </div>
                	<div class="flip-card-back">
                        <p class="flip-para">Event Dates: 2 - 20 Oct<br>Registration ends : 20 Oct
                         </p>
                    	 <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal-fitness">
                 		 	READ MORE
                    	</a>
						<!-- <a class="flip-RM">
                 		 	COMING SOON
                    	</a> -->
                    </div>
                </div>
            </div>
        </div>
		

		<div>
			<%- include('event_reg_modals/events_fitness') -%>
		</div>
	</div>
