<h3 class="events-subheading pt-5 pb-2 ">Ongoing</h3>
<div class="d-flex flex-wrap">
	<div class="col pb-3">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="flip-card-front">
					<img src="images/WeeklyTrivia.jpg" alt="Avatar" id="card-img">
				</div>
				<div class="flip-card-back">
					<div class="flip-para">Follow us on Instagram (@spirit_iitguwahati) to participate in our exciting Weekly Trivia quizzes.<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>