<div class="col pb-3">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="images/Rectangle 13.png" alt="Avatar" id="card-img">
            </div>
            <div class="flip-card-back">
                <div class="flip-para">Event 1<br/>
                <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal">
                    READ MORE
                </a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- code for modal content -->
<div class="modal fade" id="expand-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="container-fluid">
            <div class="expand-container">
                <div class="img-div">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="close"></button>
                    <img src="images/Rectangle 16.png" alt="..." class="expand-img" />
                </div>

                <div class="text-line">
                    <div class="left-text"><strong>Event 1</strong></div>
                    <div class="right-text"><strong>25-05-21</strong></div>
                </div>

                <p class="give-margin">Event 1 is interesting
                </p>

                <div class="text-line">
                    <div class="left-text">Lorem ipsum dolor amet</div>
                    <div class="right-text">sit amet</div>
                </div>
                <div class="text-line middle-line">
                    <div class="left-text">Lorem ipsum dolor amet</div>
                    <div class="right-text">sit amet</div>
                </div>
                <div class="text-line bottom-line">
                    <div class="left-text">Lorem ipsum dolor amet</div>
                    <div class="right-text">sit amet</div>
                </div>

                <a href="events/event_registration"><button type="button" class="register-button btn btn-primary btn-sm  center-block">REGISTER</button></a>

            </div>
        </div>
        </div>
    </div>
</div>


<div class="col pb-3">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="images/Rectangle 13.png" alt="Avatar" id="card-img">
            </div>
            <div class="flip-card-back">
                <div class="flip-para">Event 2<br />
                    <a class="flip-RM" data-bs-toggle="modal" data-bs-target="#expand-modal">
                        READ MORE
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- code for modal content -->
<div class="modal fade" id="expand-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="expand-container">
                    <div class="img-div">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="close"></button>
                        <img src="images/Rectangle 16.png" alt="..." class="expand-img" />
                    </div>

                    <div class="text-line">
                        <div class="left-text"><strong>Event 2</strong></div>
                        <div class="right-text"><strong>25-05-21</strong></div>
                    </div>

                    <p class="give-margin">Event 2 is interesting
                    </p>

                    <div class="text-line">
                        <div class="left-text">Lorem ipsum dolor amet</div>
                        <div class="right-text">sit amet</div>
                    </div>
                    <div class="text-line middle-line">
                        <div class="left-text">Lorem ipsum dolor amet</div>
                        <div class="right-text">sit amet</div>
                    </div>
                    <div class="text-line bottom-line">
                        <div class="left-text">Lorem ipsum dolor amet</div>
                        <div class="right-text">sit amet</div>
                    </div>

                    <a href="events/event_registration/"><button type="button"
                            class="register-button btn btn-primary btn-sm  center-block">REGISTER</button></a>

                </div>
            </div>
        </div>
    </div>
</div>