body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
}

// .heading-primary {
//   color: $color-milky-white;
//   text-transform: uppercase;
//   backface-visibility: hidden;
//   margin-bottom: 4rem;

//   font-size: 5rem;
//   font-weight: 700;
//   letter-spacing: 0.5rem;

//   @include respond(big-desktop) {
//     letter-spacing: 0.8rem;
//     font-size: 7rem;
//   }
//   @include respond(tab-port) {
//     letter-spacing: 0.25rem;
//     font-size: 6rem;
//   }
//   @include respond(phone) {
//     letter-spacing: 0.25rem;
//     font-size: 5rem;
//   }
// }

// .heading-secondary {
//   color: $color-white;
//   font-size: 3rem;
//   text-transform: uppercase;
//   font-weight: 400;

//   @include respond(big-desktop) {
//     font-size: 4rem;
//   }
// }
