<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

		<h3>Event1 Registration Form</h3>
		<form id="event1-form" method="POST" action="event1/post/<%-user._id%>" >
			<input type="text" autocomplete="off" id="username" placeholder="Username" value="<%=user.username%>"required /><br/>
			<input type="email" autocomplete="off" id="email" placeholder="Email"  value="<%=user.email%>"required /><br />
			<input type="text" id="item" placeholder="Method" name="name" value=""required />
			<br>
			<input type="submit" value="Register" />
		</form>
		
		<br/>
		
		<a href="/" >Go to home page</a>
		
	<script>
        const form = document.getElementById('event1-form')
        form.addEventListener('submit', registerForm)
        async function registerForm(event) {
            event.preventDefault()
            let name = '<%-user._id%>'
            const item = document.getElementById('item').value
            const result = await fetch(`/events/event1/post/${name}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    item
                })
            }).then((res) => res.json())

            if (result.status === 'ok') {
				window.location.replace(`/`);
                alert('Success')
            } else {
				window.location.replace(`/`);
                alert(result.error)
            }
        }
    </script>

    </body>
</html>