<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
		<div class="d-flex flex-row justify-content-around">
			<div>
				<h2>Event 1</h2>
				<p>
					Description goes here...<br>
					Date: xyz
				</p>
				<h4>
					<a href="events/event_registration">Register</a>
				</h4>
		    </div>
			<br>

            <div>		
				<h2>Event 2</h2>
				<p>
					Description goes here...<br>
					Date: xyz
				</p>
				<h4>
					<a href="events/event_registration">Register</a>
				</h4>
		    </div>
			<br>
	    </div>
		
		<a href="/" class="d-flex flex-row justify-content-center"><h5>Go to home page</h5></a>
		
			  

    </body>
</html>