<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Reset Password</title>
	</head>
	<body>
		<h1>Reset Password</h1>
		<form id="reg-form">
			<input type="password" autocomplete="off" id="password" placeholder="Password" required/>
			<input type="password" autocomplete="off" id="password_confirm" placeholder="Confirm Password" required/>
			<input type="submit" value="Submit Form" />
		</form>	
		<script>
			const form = document.getElementById('reg-form')
			form.addEventListener('submit', resetPass)
			var id = '<%-user._id%>'
			console.log(id)
			
			async function resetPass(event) {
				event.preventDefault()
				const password1 = document.getElementById('password').value
				const password2 = document.getElementById('password_confirm').value
				if(password2 === password1){
						const result = await fetch('/authapi/reset_pass', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							id,
							password2
						})
					}).then((res) => res.json())

					if (result.status === 'ok') {
						// everythign went fine
						window.location.replace(`/`)
						alert('Password Reset Successfully.')
					} else {
						alert(result.error)
					}
				}else{
					alert('The entered passwords do not match')
				}
			}
		</script>
	</body>
<html>