body {
    background-color: #0a0a0a;
	font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.events-subheading {
    color: #c567ff;
    position:relative;
    text-indent: 20px;
	margin-bottom: 40px;
	margin-top:30px;
	font-size: x-large;
	font-weight: 600;
  }
  
  .events-heading {
    color: #c567ff;
    text-indent: 20px;
	font-size: xx-large;
	font-weight: 700;
  }

.eventsbg {
    background-image: linear-gradient(73.92deg, #404040 1.37%, #0a0a0a 90.8%);
}

#card-img {
    width: 400px;
    height: 400px;
  }

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    margin: auto;
	margin-bottom:10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    background-color: #c567ff;
    transform: rotateY(180deg);
    border-radius: 5px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.7);
}

.flip-para {
    padding: 100px 30px 60px 30px;
    text-align: left;
    font-size: x-large;
    color: white;
	text-align: center;
}

.flip-RM {
    text-decoration: none;
    color: #0a0a0a;
    font-weight: 500;
    font-size: x-large;
}

.flip-RM:hover {
    color: #2c2c2c;
    cursor: pointer;
}

.expand-container {
    width: 100%;
    height: auto;
    background-color: #c567ff;
    font-size: large;
    padding-bottom: 150px;
}

.athlos-arena-box{
	width: 100%;
    height: auto;
    background-color: #c567ff;
    font-size: large;
    padding-bottom: 50px;
}

.expand-img {
    width: 100%;
    height: auto;
}

.img-div {
    margin: 0;
    padding: 0;
    position: relative;
}

.text-line {
    display: block;
    position: relative;
    margin: 20px 2px 20px 2px;
	font-size:x-large;
}

.left-text {
    display: inline-block;
    position: relative;
    left: 3%;
}

.right-text {
    position: absolute;
    display: inline-block;
    right: 5%;
}

.give-margin {
    margin: 40px 30px 30px 30px;
}

.register-button {
    position: absolute;
    left:38%;
    right:auto;
    background-color: black;
    padding: 7px 15px;
    color: #c567ff;
	border-radius: 3px;
	font-size: 16px;
}

.register-button-rulebook {
    position: absolute;
	bottom:50px;
    left:40%;
    right:auto;
    background-color: black;
    padding: 7px 15px;
    color: #c567ff;
	border-radius: 3px;
	font-size: 16px;
}

.coming-soon{
	position: absolute;
    left:40%;
	bottom: 10%;
    right:auto;
    background-color: black;
    padding: 7px 15px;
    color: #c567ff;
	border-radius: 3px;
	font-size: 16px;
}

.coming-soon:hover{
    background-color: rgb(44, 44, 44);	
}
.register-button:hover {
    background-color: rgb(44, 44, 44);
}

.register-button-rulebook:hover {
    background-color: rgb(44, 44, 44);
}

.register-button-athlosarena:hover {
    background-color: rgb(44, 44, 44);
}

.btn {
    border: 0;
}

.container-fluid {
    padding: 0;
}

.modal-lg {
    max-width: 750px;
}

.btn-close {
    position: absolute;
    right: 2%;
    top: 3%;
}

.prize{
	font-size:x-large;
	padding-bottom:20px
}

.contact{
	font-size:large;
	font-weight:450;
}

.one-card{
	padding-left:20px;
}

.athlos-events{
	margin-left:30px;
	text-decoration:none;
	color: #0a0a0a;
	font-weight:500;
}

.athlos-events:hover{
 	text-decoration:underline;
	color: black;
	cursor: pointer;
}

.register-button-athlosarena {
    position: relative;
	bottom: 0px;
	top: 30px;
    left:40%;
    right:auto;
    background-color: black;
    padding: 7px 15px;
    color: #c567ff;
	border-radius: 3px;
	font-size: 16px;
}

@media (max-width: 550px) {
    #card-img {
      width: 335px;
      height: 335px;
    }
  
    .flip-card {
      background-color: transparent;
      width: 335px;
      height: 335px;
      perspective: 1000px;
      margin: auto;
    }
  
    .flip-para {
      padding: 100px 30px 60px 30px;
      text-align: left;
      font-size: large;
      color: white;
    }
  
    .register-button {
      position: absolute;
      left:32.5%;
      right:auto;
      background-color: black;
      padding: 7px 15px;
      color: #c567ff;
	  border-radius: 3px;
	  font-size: 14px;
    }
	
	.rulebook-button{
      position: absolute;
      left:32.5%;
      right:auto;
      background-color: black;
      padding: 7px 15px;
      color: #c567ff;
	  border-radius: 3px;
	  font-size: 14px;
	}
	.coming-soon{
	position: absolute;
    left:34%;
    right:auto;
    background-color: black;
    padding: 7px 15px;
    color: #c567ff;
	border-radius: 3px;
	font-size: 16px;
    }
	
	.one-card{
		padding:10px;
    }

  }
  