<div class="updates-box updates-box--1">
    <div class="updates-box-title">Lorem </div>
    <div class="updates-box-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis sed
        ad dolorem voluptatum.</div>
</div>
<div class="updates-box updates-box--2">
    <div class="updates-box-title">Lorem ips </div>
    <div class="updates-box-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis sed
        ad dolorem voluptatum.</div>
</div>
</div>
<div class="updates-box updates-box--3">
    <div class="updates-box-title">Lorem ipsum</div>
    <div class="updates-box-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit veritatis sed
        ad dolorem voluptatum.</div>
</div>
</div>