<div class="updates-box updates-box--1">
    <div class="updates-box-title">Be a Campus Ambassador!</div>
    <div class="updates-box-desc">Get a chance to represent your college in Spirit'21 and win exciting goodies. Head on to 'Join the Team' to register.</div>
</div>
<div class="updates-box updates-box--2">
    <div class="updates-box-title">Submissions for Shutterbug have begun!</div>
    <div class="updates-box-desc">Head onto Shutterbug on the events page to submit your entry.</div>
</div>

<div class="updates-box updates-box--3">
    <div class="updates-box-title">Athlos Arena released!</div>
    <div class="updates-box-desc">Registrations for your favourite sports have started. Move on to the events page to know more.</div>
</div>
