<div class="updates-box updates-box--1">
    <div class="updates-box-title">IPL Auction released!</div>
    <div class="updates-box-desc">Registrations for IPL Auction have started. Head on to the Events' page to register now!</div>
</div>
<div class="updates-box updates-box--2">
    <div class="updates-box-title">Register now for Shutterbug!</div>
    <div class="updates-box-desc">Registrations for Shutterbug are open now. Don't miss the opportunity!</div>
</div>
</div>
<div class="updates-box updates-box--3">
    <div class="updates-box-title">Athlos Arena released!</div>
    <div class="updates-box-desc">Registrations for your favourite sports have started. Move on to the events page to know more.</div>
</div>
</div>