<div class="updates-box updates-box--1">
    <div class="updates-box-title">Be a Campus Ambassador!</div>
    <div class="updates-box-desc">Head on to "Join the Team" to register for being a campus ambassador</div>
</div>
<div class="updates-box updates-box--2">
    <div class="updates-box-title">Register now for Shutterbug!</div>
    <div class="updates-box-desc">Registrations for Shutterbug are open now. Don't miss the opportunity!</div>
</div>
</div>
<div class="updates-box updates-box--3">
    <div class="updates-box-title">Athlos Arena released!</div>
    <div class="updates-box-desc">Registrations for your favourite sports have started. Move on to the events page to know more.</div>
</div>
</div>