<!DOCTYPE html>
<html lang="en">
<%- include('../basicwlb') -%>
<head>
	<link rel="stylesheet" href="css/sponsors_style.css" />
</head>
<body>
	<%- include('../navbar') -%>
	<section class="sponsors-container">
        <div class="sponsors-heading">
            Our Partners
        </div>
        <div class="sponsors">
        <div class="spon sponsors-1">
            <div class="sponsors-1-i"><img class="sponsors-1-i-img" src="images/enerzal.png" alt=""></div>
            <div class="sponsors-1-text">
                <h3 class="sponsors-1-text-h3">Hydration partner</h3>
            </div>
        </div>
        <div class="spon sponsors-2">
            <div class="sponsors-2-i"><img class="sponsors-2-i-img" src="images/chesscom_logo_white.png" alt=""></div>
            <div class="sponsors-2-text">
                <h3 class="sponsors-2-text-h3">Platform Partner</h3>
            </div>
        </div>
        <div class="spon sponsors-3">
            <div class="sponsors-3-i"><img class="sponsors-3-i-img" src="images/para_dealz.png" alt=""></div>
            <div class="sponsors-3-text">
                <h3 class="sponsors-3-text-h3">Chess Event Partner</h3>
            </div>
        </div>
        <div class="spon sponsors-4">
            <div class="sponsors-4-i"><img class="sponsors-4-i-img" src="images/hff.png" alt=""></div>
            <div class="sponsors-4-text">
                <h3 class="sponsors-4-text-h3">Event Partner</h3>
            </div>
        </div>
        <!-- <div class="spon sponsors-5">Sponsor</div>
        <div class="spon sponsors-6">Sponsor</div>
        <div class="spon sponsors-7">Sponsor</div>
        <div class="spon sponsors-8">Sponsor</div> -->
        </div>
        
    </section>
	<%- include('../footer') -%>
</body>