$color-primary-light: #b9b9b9;
$color-primary-dark: #0a0a0a;

$color-purple-primary: #c567ff;
$color-purple-light: #b980f0;
$color-green-primary: #50cb93;
$color-purple-dark: purple;

$color-purple-dark: #986d8e;

$color-milky-white: #fffef7;
$color-white: #fff;
