        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-shutter" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/ShutterCard.png" alt="..." class="expand-img" />
                            </div>

                            <div class="text-line">
                                <div class="left-text"><strong>ShutterBug</strong></div>
                                <div class="right-text"><strong> 8-14 Oct</strong></div>
                            </div>

                            <p class="give-margin">“It is easy to access online free stock, but it's hard to find anything that truly represents the 													diversity that exists in our society”. Spirit 2021 brings an online competition where you 															   showcase your sports photography skills to get exciting prizes and compete with some of the best                                                        photographers across the country.
							</p>
							<p class="text-center prize">
								<b>Prize Pool of 5k</b>
							</p>
							<!-- <a href="events/register/shutterbug"> -->
							<button type="button" class="btn btn-primary btn-lg register-button center-block">COMING SOON!</button>
							<!-- </a> -->
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
		