        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-badminton" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/Badmintoncard.png" alt="..." class="expand-img" />
                            </div>

                            <div class="text-line">
                                <div class="left-text"><strong>Badminton</strong></div>
                                <div class="right-text"><strong> 1-20 Oct</strong></div>
                            </div>

                            <p class="give-margin">Badminton the fastest of all racquet sports where the shuttlecock travels at 200-300 km/hr, the delicate dropshots at the net and the creative serves meant to vex the opposition makes the game of badminton a treat to watch and play. Athlos Arena brings a wall drill challenge where the participant needs to play forehand and backhand shots against a wall, and winner is the one with the longest rally. 
							</p>
							<p class="text-center prize">
								<b>Prize Pool of 50k</b>
							</p>
							<p class="text-center contact">
								To register please contact our Public Relations Team
								<br><b>Email ID:</b> publicrelation.spirit@gmail.com
								<br><b>Contact No.:</b> Saurabh Kamble +91 93593 11460
							</p>							
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>