        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-ipl" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/IplCard.png" alt="..." class="expand-img" />
                            </div>

                            <div class="text-line">
                                <div class="left-text"><strong>IPL Auction</strong></div>
                                <div class="right-text"><strong> 9-10 Oct</strong></div>
                            </div>

                            <p class="give-margin">Auctions make noteworthy value disclosure and liquidity, bringing about an extremely significant 													last sale cost. In case you were building a protection trade today, an auction would be a 															central component. Spirit, IIT Guwahati will lead a fun IPL auction. This occasion requires no 														essential information, just sharp and insightful sales abilities to outmaneuver your rivals.
							</p>
							<p class="text-center prize">
								<b>Prize Pool of 20k</b>
							</p>
							
							<a href="events/register/iplauction" style="text-decoration:none">
                            <button type="button" class="btn btn-primary btn-lg register-button center-block">
								REGISTER
							</button></a>
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
	