        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-cricket" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/IplCard.png" alt="..." class="expand-img" />
                            </div>

                            <div class="text-line">
                                <div class="left-text"><strong>Cricket</strong></div>
                                <div class="right-text"><strong> 9-10 Oct</strong></div>
                            </div>

                            <p class="give-margin">The most popular game in India finds its place in the Athlos Arena by involving the two major components of the sport: Spot bowling(bowl onto a specific spot) and straight drive testing your form of batting.
							</p>
							<p class="text-center prize">
								<b>Prize Pool of 20k</b>
							</p>
							
							<a href="events/register">
                            <button type="button" class="btn btn-primary btn-lg register-button center-block">
								REGISTER
							</button></a>
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>