        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-crick" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/Cricketcard.png" alt="..." class="expand-img" />
                            </div>

                            <div class="text-line">
                                <div class="left-text"><strong>Cricket</strong></div>
                                <div class="right-text"><strong> 1-20 Oct</strong></div>
                            </div>

                            <p class="give-margin">Cricket, one of the most popular sport in India reflects the spirit of the nation and its people in every corner of India. Cricket is played nationwide, at each and every corner of India then it may be the children playing or the senior citizens too.  And of course this sport finds a place in Athlos Arena testing the bowling skills of every participant. Take part, bowl and hit the stumps.
							</p>
							<p class="text-center prize">
								<b>Prize Pool of 50k</b>
							</p>
							
							<p class="text-center contact">
								To register please contact our Public Relations Team
								<br><b>Email ID:</b> publicrelation.spirit@gmail.com
								<br><b>Contact No.:</b> Saurabh Kamble +91 93593 11460
							</p>
							
							<div>
								<a data-bs-toggle="modal" data-bs-target="#expand-modal-scissorbox">
                                  <img src="images/sachin_sign.png" alt="..."/ class="sachin-sign">
                               </a>
								
							</div>
							
							<div class="modal fade" id="expand-modal-scissorbox" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content-scissorbox">


                        <div class="container-fluid container-fluid-scissorbox">
                            <div>
                                <button type="button" class="btn btn-md-dark scissor-btn">
                              <span style="color: rgb(255, 255, 255);">
                                  <i class="fas fa-cut fa-3x"></i>
                                </span>

                              </button>
                                <div>
                                    <button type="button" class="btn btn-md-dark">
                              <span>
                                  <img class="box_img" src="images/box_img.png" alt="box-img">
                                </span>
                              </button>
                                    <div id="cipher_word"> cipher</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
							
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>