        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-lawntennis" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/Lawntenniscard.png" alt="..." class="expand-img" />
                            </div>

                            <div class="text-line">
                                <div class="left-text"><strong>Lawn Tennis</strong></div>
                                <div class="right-text"><strong> 1-20 Oct</strong></div>
                            </div>

                            <p class="give-margin">Lawn tennis a game of hustle and hit, bringing out fighters in the players like no other game. The delicate volleys, heavy grunts and eye-catching winners are what makes this game a delight to watch. Athlos Arena brings you an event challenging to serve the target. Do participate and win the game of minds!
							</p>
							<p class="text-center prize">
								<b>Prize Pool of 50k</b>
							</p>
							
							<p class="text-center contact">
								To register please contact our Public Relations Team
								<br><b>Email ID:</b> publicrelation.spirit@gmail.com
								<br><b>Contact No.:</b> Saurabh Kamble +91 93593 11460
							</p>
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>