        <!-- code for modal content -->

        <div class="modal fade" id="expand-modal-treasure" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid">
                        <div class="expand-container-big">
                            <div class="img-div">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close"></button>
                                <img src="images/TreasureCard.png" alt="..." class="expand-img" />
                            </div>

                            <div class="text-line">
                                <div class="left-text"><strong>Treasure Hunt</strong></div>
                                <div class="right-text"><strong> 22-24 Oct</strong></div>
                            </div>

                            <p class="give-margin">Treasure hunt is discovering hints to arrive at the last destination and get rewarded. Spirit, IIT Guwahati brings you Treasure Hunt 2021. Be prepared to witness the first-of its sort chase where you’ll have to concentrate all your impulses and type to go through various stages. Way more fun.
							</p>
							<!--<div class="lastdate-line">
                                <div class="left-text">Last date for registration</div>
                                <div class="right-text">14 Oct</div>
                            </div>-->
							
							<p class="text-center prize">
								<b>Prize Pool of 5k</b>
							</p>
							
							<!-- <button type="button" class="btn btn-primary btn-lg coming-soon center-block">COMING SOON!</button> -->
							<!-- Add the ejs code from ipl modal here  -->
							
							<p class="text-center"> 
								<!-- <a style="text-decoration:none"><button type="button"  class="btn btn-primary btn-lg coming-soon center-block">
								COMING SOON
								</button></a> -->
							<a target="_blank" href="https://dare2compete.com/creative-cultural-event/treasure-hunt-spirit-2021-indian-institute-of-technology-iit-guwahati-225684" style="text-decoration:none"><button type="button" style="left:43%"  class="btn btn-primary btn-lg register-button center-block">
								REGISTER
								</button></a>
							
                    	</div>
                	</div>
             	</div>
        	</div>
    	</div>
		